html {
    scroll-behavior: smooth;
}

body {
    background-color: #F7F8F9;
}

.jumbotron {
    width: 100%;
    height: 140px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #18191B;
}

.jumbotron h1 {
    color: white;
    font-size: 28px;
    text-align: center !important;
    font-family: "Open+Sans", sans-serif;
    text-shadow: #f5b800 0px 0px 6px, #f5b800 0px 0px 10px;
}

.category-bar {
    width: 100%;
    display: table;
    margin: 0 auto;
    background-color: black;
    position: -webkit-sticky;
    position: sticky;
    top: 60px;
    box-shadow: 0 0 0.5em rgba(0, 0, 0, 0.5);
    z-index: 10;
}

.bullet ul {
    list-style-type: disc !important;
    text-align: left;
}

.category-bar ul {
    height: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.category-bar ul li {
    height: 100%;
    display: inline;
    float: left;
    margin: 0 20px;
}

.category-bar ul li a {
    text-decoration: none;
    color: #8AEA92;
    font-family: "dosis", sans-serif;
    height: 100%;
    padding: 10px;
    display: flex;
    font-weight: 600;
    align-items: center;
    justify-content: center;
    font-size: 19px;
    transition: 0.5s;
}

.category-bar ul li a:hover {
    background-color: #ffffff;
    color: black;
    transition: 0.5s;
}

.list {
    width: 100%;
    height: 4700px;
    padding: 50px;
    padding-top: 70px;
    background-image: linear-gradient(#ffc20ad5, #fa4f46,#ffc20ad5,#FF7770);
}

.list .category {
    width: 100%;
    height: 350px;
}

#category-1 {
    height: 900px;
}

#category-2 {
    height: 900px;
}

#category-4 {
    height: 1350px;
}

#category-5 {
    height: 500px;
}

#category-6 {
    height: 500px;
}

#category-7 {
    height: 500px;
}

#category-8 {
    height: 500px;
}

#category-9 {
    height: 400px;
}

.category h2 {
    color: rgb(0, 0, 0);
    text-align: center;
    font-family: "Dosis", sans-serif;
    font-size: 30px;
    margin-top: 20px;
    text-transform: uppercase;
}

.list .nos {
    height: 380px;
    padding: 0px 25px;
    border-radius: 6px;
    /* margin-bottom: 2em; */
    transition: 0.5s;
}

.list .nos:hover {
    cursor: pointer;
}

.list .nos .logo-div {
    width: 100%;
    height: 70px;
    padding: 0 1.5em;
    position: relative;
    background-color: #19373B;
    border-top-left-radius: 24px;
    border-top-right-radius: 24px;
    transition: 0.5s;
}

.list .nos .logo-div .logo img {
    width: 70px;
    height: 70px;
}

.list .nos .logo-div .logo {
    position: absolute;
    padding: 10px;
    border-radius: 50%;
    top: -70%;
    width: 100px;
    height: 100px;
    background-image: linear-gradient(315deg, #FF928B 0%, #FF928B 74%);
    transition: 0.5s;
    left: 1.5em !important;
    display: flex;
    align-items: center;
    justify-content: center;
}

.list .nos:hover .logo-div .logo {
    transform: scale(1.15);
    transition: 0.5s;
}

.list .nos:hover span {
    text-shadow: rgb(0, 0, 0) 0px 0px 6px, rgb(0, 0, 0) 0px 0px 10px;
}

.list .nos span {
    width: 100%;
    height: 60px;
    padding: 17px 1.5em;
    display: block;
    transition: 0.5s;
    background-color: #19373B;
    color: white;
    font-size: 21px;
    line-height: 1.3em;
    font-weight: 800;
    text-align: left !important;
    font-family: "Dosis", sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.list .nos>.modal-div {
    width: 100%;
    height: 50%;
    background-color: transparent;
    transition: 0.5s;
    padding: 1.5em;
    color: white;
    font-family: "Dosis", sans-serif;
    letter-spacing: 1px;
    line-height: 1.5em;
    background-color: #19373B;
    border-bottom-left-radius: 24px;
    border-bottom-right-radius: 24px;
}

.modal-div p {
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.list .nos .modal-div:hover {
    cursor: pointer;
    transition: 0.5s;
}

.list .nos>div img {
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.social-media-icons {
    width: 100%;
    height: 150px;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #18191B;
}

.social-media-icons a {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-left: 10px;
    margin-right: 10px;
    color: black;
    font-size: 22px;
    transition: 1s;
    background-color: rgba(255, 255, 255, 0.6);
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

.social-media-icons a:hover {
    transform: translate(0, -10px);
    transition: 1s;
    background-color: #F7F8F9;
}

.modal {
    display: none;
    width: 100%;
    height: 100%;
    z-index: 999;
    position: fixed;
    left: 0;
    top: 0em;
    overflow: auto;
    overflow-x: hidden;
    border: 25px solid rgba(0, 0, 0, 0);
    background-color: rgba(0, 0, 0, 0.6);
}

.modal-content {
    width: 80%;
    border-radius: 25px;
    height: 100%;
    margin: auto;
    padding: 30px 70px;
    background-color: #18191B;
    overflow: auto;
    overflow-x: hidden;
    color: white !important;
}

.modal_close {
    color: #aaaaaa;
    float: right;
    font-size: 30px;
    font-weight: bold;
}

.modal_close:hover,
.modal_close:focus {
    color: red;
    text-decoration: none;
    cursor: pointer;
}

.modal h4,
.modal h5 {
    font-size: 20px;
    font-family: "Dosis", sans-serif;
    margin-bottom: 10px;
}

.modal h4 {
    font-size: 30px;
    text-transform: uppercase;
    text-align: center !important;
    color: #FFC20A;
}

.modal h5 {
    margin: 0;
    font-size: 23px;
    color: #3CC441;
    text-transform: uppercase;
    text-align: justify!important;
    margin-bottom: 1.2em;
}

.bullet {
    margin-bottom: 2em;
}

.time,
.date {
    margin-top: 3em;
}

.description {
    width: 100%;
    height: auto;
    font-family: "Dosis", sans-serif;
    text-align: center;
    padding: 20px;
    line-height: 2em;
    letter-spacing: 1px;
    font-size: 18px;
    text-align: justify!important;
}

.time,
.fee,
.number,
.date {
    height: 200px;
    padding: 10px 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.time span,
.fee span,
.number span,
.date span {
    width: 100%;
    /* height: 20%; */
    text-align: center !important;
}

.time div,
.fee div,
.number div,
.date div {
    width: 100%;
    height: 140px;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    line-height: 2em;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 1px;
    border-radius: 6px;
    font-family: "Dosis", sans-serif;
    background-color: #FFC20A;
    color: rgb(0, 0, 0);
}

.time div a,
.fee div a,
.number div a,
.date div a {
    height: 100%;
    width: 100%;
    color: rgb(0, 0, 0);
    line-height: 2em;
    font-size: 20px;
    letter-spacing: 1px;
    text-decoration: none;
    display: block !important;
}

.time div a ul,
.fee div a ul,
.number div a ul,
.date div a ul {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.number {
    height: 250px;
}

.number div {
    height: 140px;
}


/* .number div li:nth-child(1) {
      margin-bottom: 1em;
    } */

.modal ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.modal button {
    width: 145px;
    height: 60px;
    border: none;
    outline: none;
    text-align: center;
    border-radius: 12px;
    background-color: #333333;
    text-transform: uppercase;
    color: white;
    font-size: 22px;
    position: relative;
    left: 50%;
    margin-left: -72.5px;
    margin-top: 40px;
    margin-bottom: 30px;
    transition: 0.5s;
    font-weight: bold;
    font-family: "Dosis", sans-serif;
}

.modal button:hover {
    cursor: pointer;
    color: #8AEA92;
    transition: 0.5s;
}

.modal a {
    color: white;
    text-decoration: none;
}

.time span h5,
.fee span h5,
.number span h5,
.date span h5 {
    text-align: center !important;
    margin-bottom: 10px !important;
    font-size: 23px;
}



/* ---------------- Coming Soon -----------------*/

.modal button.coming_soon {
    opacity: .6;
    font-size: 19px;
    width: 165px;
    letter-spacing: 1px;
    margin-left: -82.5px;
}

.modal button.coming_soon:hover {
    cursor: auto;
    color: white;
    transition: 0.5s;
}


/*Small screen*/

@media (max-width: 576px) {
    .jumbotron h1 {
        font-size: 24px;
    }
    .jumbotron {
        height: 140px;
        padding-bottom: 40px;
    }
    .list {
        height: 11000px;
        padding: 50px;
        padding-top: 40px;
    }
    .list .category {
        height: 1050px;
    }
    #category-1 {
        height: auto;
    }
    #category-2 {
        height: auto;
    }
    #category-3 {
        height: auto;
    }
    #category-4 {
        height: auto;
    }
    #category-5 {
        height: auto;
    }
    #category-6 {
        height: auto;
    }
    #category-7 {
        height: auto;
    }
    #category-8 {
        height: auto;
    }
    .list .category h2 {
        font-size: 20px;
    }
    .category-bar {
        height: 90px;
        padding: 8px 0;
        top: 40px;
    }
    .category-bar ul {
        height: 33.33%;
        padding: 5px 0;
    }
    .category-bar ul li {
        margin: 0 7px;
        height: 100%;
    }
    .category-bar ul li a {
        padding: 0 5px;
        font-size: 13px;
    }
    .list .nos {
        padding: 10px 10px;
        height: 300px;
        margin-bottom: 3em;
    }
    /*  .list .nos .logo-div img {
        position: absolute;
        top: -50%;
    }*/
    .modal-div p {
        font-size: 14px;
        -webkit-line-clamp: 3;
    }
    .list .nos>.modal-div {
        height: 60%;
        padding-left: 30px;
    }
    .list .nos span {
        padding: 0 30px;
        height: 40px;
        font-size: 17px;
    }
    .list .nos>div img {
        width: 70px;
    }
    .date {
        margin-top: 0%;
    }
    .time div,
    .fee div,
    .number div,
    .date div {
        width: 190px;
        height: 60px;
        font-size: 17px;
    }
    .time div a,
    .fee div a,
    .number div a,
    .date div a {
        font-size: 17px;
    }
    .modal {
        border: 20px solid rgba(0, 0, 0, 0);
        font-size: 13px;
    }
    .modal-content {
        width: 97%;
        padding: 15px 20px;
    }
    .time,
    .fee,
    .number,
    .date {
        height: 170px;
        padding: 10px;
    }
    .number {
        height: 270px;
        margin-bottom: 2em;
    }
    .number div {
        height: 210px;
    }
    .number div li:nth-child(1) {
        margin-bottom: 1em;
    }
    .description {
        font-size: 14px;
    }
    .modal h4 {
        font-size: 22px;
    }
    .modal h5 {
        font-size: 17px;
    }
    .modal button {
        margin-top: 10px;
        font-size: 14px;
    }
    .social-media-icons a {
        width: 40px;
        height: 40px;
        margin-left: 5px;
        margin-right: 5px;
        font-size: 19px;
    }
    .social-media-icons {
        height: 130px;
    }
    .desktop-view {
        display: none;
    }
    .mobile-view {
        display: block;
    }
    .time span h5,
    .fee span h5,
    .number span h5,
    .date span h5 {
        font-size: 18px;
    }
    .date, .time {
        height: 130px;
    }
}


/*Mobile*/

@media (min-width: 577px) and (max-width: 767px) {
    .jumbotron h1 {
        font-size: 24px;
    }
    .jumbotron {
        height: 190px;
        padding-bottom: 50px;
    }
    .list {
        height: 10150px;
        padding-top: 60px;
    }
    .list .category {
        height: 1550px;
    }
    .category-bar {
        height: 60px;
        padding: 8px 0;
        top: 40px;
    }
    #category-2 {
        height: 3000px;
    }
    #category-3 {
        height: 2500px;
    }
    #category-4 {
        height: 1000px;
    }
    #category-5 {
        height: 1200px;
    }
    #category-7 {
        height: 1100px;
    }
    #category-8 {
        height: 750px;
    }
    .category-bar ul li {
        margin: auto 5px;
        height: 50%;
    }
    .category-bar ul li a {
        padding: 3px;
        font-size: 13px;
    }
    .list .nos {
        height: 300px;
        padding: 20px 50px;
        margin-bottom: 1em;
    }
    .list .nos>.modal-div {
        font-size: 15px;
    }
    .list .nos span {
        height: 0px;
        font-size: 18px;
    }
    .list .nos div img {
        width: 90px;
    }
    .modal-div p {
        -webkit-line-clamp: 3;
    }
    .time div,
    .fee div,
    .number div,
    .date div {
        width: 190px;
        height: 90px;
        font-size: 17px;
    }
    .time div a,
    .fee div a,
    .number div a,
    .date div a {
        font-size: 17px;
    }
    .number div li:nth-child(1) {
        margin-bottom: 0.7em;
    }
    .modal-content {
        width: 90%;
        padding: 15px 20px;
    }
    .time,
    .fee,
    .number,
    .date {
        height: 200px;
        padding: 10px;
    }
    .list .nos span h3 {
        font-size: 19px;
    }
    .description {
        font-size: 15px;
    }
    .modal h4 {
        font-size: 22px;
    }
    .modal h5 {
        font-size: 12px;
    }
    .modal button {
        font-size: 15px;
    }
    .desktop-view {
        display: block;
    }
    .mobile-view {
        display: none;
    }
}


/*Tablet*/

@media (min-width: 768px) and (max-width: 1199px) {
    .list {
        height: 6200px;
    }
    .list .category {
        height: 1150px;
    }
    #category-1 {
        height: 1100px;
    }
    #category-2 {
        height: 1250px;
    }
    #category-3 {
        height: 1350px;
    }
    #category-5 {
        height: 100px;
    }
    #category-6 {
        height: 500px;
    }
    #category-7 {
        height: 1100px;
    }
    #category-8 {
        height: 800px;
    }
    .category-bar {
        height: 55px;
    }
    .category-bar ul li {
        margin: 0 3px;
    }
    .category-bar ul li a {
        padding: 7px;
        font-size: 18px;
    }
    .list .nos span {
        height: 50px;
        font-size: 19px;
    }
    .list .nos {
        height: 350px;
        padding: 0px 25px;
        border-radius: 6px;
        margin-bottom: -1em;
        transition: 0.5s;
    }
    .list .nos>.modal-div {
        height: 40%;
    }
    .modal-div p {
        -webkit-line-clamp: 3;
    }
    .list .nos div img {
        width: 90px;
    }
    .modal-content {
        width: 93%;
        padding: 20px 30px;
    }
    .time,
    .fee,
    .number,
    .date {
        height: 210px;
        padding: 10px;
    }
    .number {
        height: 400px;
    }
    .number div {
        height: 250px;
    }
    .number div li:nth-child(1) {
        margin-bottom: 1em;
    }
    .desktop-view {
        display: block;
    }
    .mobile-view {
        display: none;
    }
}


/*Desktop*/


/*# sourceMappingURL=event.css.map */

@media (min-width: 1200px) {
    .desktop-view {
        display: block;
    }
    .mobile-view {
        display: none;
    }
}

#back-to-top-btn {
    z-index: 999;
    display: none;
    position: fixed;
    bottom: 20px;
    right: 13px;
    font-size: 20px;
    width: 50px;
    height: 50px;
    background-color: white;
    color: black;
    cursor: pointer;
    border: none;
    outline: none;
    border-radius: 50%;
    transition-duration: 0.5s;
    transition-timing-function: ease-in-out;
    transition-property: background-color, color;
}

#back-to-top-btn:hover,
#back-to-top-btn:focus {
    border: 3px solid white;
    background-color: #FFC20A;
    color: white;
    transition-duration: 0.5s;
}

@media(max-width: 992px) {
    #back-to-top-btn {
        font-size: 22px;
        width: 40px;
        height: 40px;
        bottom: 15px;
        right: 15px;
    }
}

@media(max-width:768px) {
    #back-to-top-btn {
        font-size: 18px;
        width: 32px;
        height: 32px;
        bottom: 15px;
        right: 15px;
    }
}

.btnEntrance {
    animation-duration: 0.5s;
    animation-fill-mode: both;
    animation-name: btnEntrance;
}

@keyframes btnEntrance {
    from {
        opacity: 0;
        transform: translate3d(0, 100%, 0);
    }
    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

.btnExit {
    animation-duration: 0.25s;
    animation-fill-mode: both;
    animation-name: btnExit;
}

@keyframes btnExit {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
        transform: translate3d(0, 100%, 0);
    }
}