body{
  background-color: #18191b;
}


ul.main { 
  list-style: none;
  max-width: 55%;
  margin: 15px auto;
}
h3 {
  padding: 0; margin: 0;
  color: #FFC20A;

}
h4{
  
  cursor: pointer;
  text-align: center;
}


.date {
  width: 17%;
  padding: 15% 1% 0 0 ;
  float: left;
}

.date h3 {
  font-size: 1.4em;
}

.date p {
  font-size: .8em;
}

.events {
  float: left;
  width: 70%;
  border-left: 1px solid #ccc;
  margin: auto;
  margin-top: 10%;
  padding-top: 3%;
}

.events-detail {
  max-width: 550px;
}

.events-detail li{
  padding: 10px;
  border-bottom: 1px dashed #ccc;
  line-height: 22px;
  transition: ease .4s all;
}

.events-detail li:hover {
  background: #ffc20aa2;
}

.event-time {
  font-weight: 900;
  color: #f7f8f9;
}

.event-name {
  color: #c5c5c5;
}

.events-detail li a {
  text-decoration: none;
  color: #444;
  width: 100%;
  height: 100%;
  display: block;
}

.event-location {
    font-size: .8em;
    color: tomato;
    margin-left: 70px;
}

.btn{
  display: flex;
  align-items: center;
  justify-content: center;
}
/* Download schedule button */
#butn{
  color: rgb(0, 0, 0); 
  text-align: center;
  padding: 10px;
  border-color: #18191b;
  border-radius: 30px;
  background-color: #FFC20A;
  /* cursor: pointer; */
}
@media(max-width:768px){
  #butn{
    position: relative;
    left:20px
  }
}

#butn:focus{
  outline: none;
}

#butn:hover{
  color: black;
  transition: .5s;
}


#back-to-top-btn {
  z-index: 999;
  display: none;
  position: fixed;
  bottom: 20px;
  right: 13px;
  font-size: 20px;
  width: 50px;
  height: 50px;
  background-color: white;
  color: black;
  cursor: pointer;
  border: none;
  outline: none;
  border-radius: 50%;
  transition-duration: 0.5s;
  transition-timing-function: ease-in-out;
  transition-property: background-color, color;
}

#back-to-top-btn:hover,
#back-to-top-btn:focus {
  border: 3px solid white;
  background-color: #FFC20A;
  color: rgb(0, 0, 0);
  transition-duration: 0.5s;
}

@media(max-width: 992px) {
  #back-to-top-btn {
      font-size: 22px;
      width: 40px;
      height: 40px;
      bottom: 15px;
      right: 15px;
  }
}

@media(max-width:768px) {
  #back-to-top-btn {
      font-size: 18px;
      width: 32px;
      height: 32px;
      bottom: 15px;
      right: 15px;
  }
}
.btnEntrance {
    animation-duration: 0.5s;
    animation-fill-mode: both;
    animation-name: btnEntrance;
}

@keyframes btnEntrance {
    from {
        opacity: 0;
        transform: translate3d(0, 100%, 0);
    }
    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

.btnExit {
    animation-duration: 0.25s;
    animation-fill-mode: both;
    animation-name: btnExit;
}

@keyframes btnExit {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
        transform: translate3d(0, 100%, 0);
    }
}




@media all and (max-width: 641px) {
    .date {
      width: 100%;
      border-bottom: 1px solid #ccc;
      margin-bottom: 10px;
    }
  
  .events {
    border:none;
    width: 100%;
    margin-top: 0;
  }
  
  .events-detail {
    padding: 0;
  }
  
  li.date p {
    margin:0;
  }

  button{
   position: relative;
   margin-left: -50px;
  }
}

